import {<%= classify(name) %>Component} from './<%= dasherize(name) %>.component';

const Template = (args: <%= classify(name) %>Component) => ({
  props: args
});

export default {
  title: 'Components/<%= classify(name) %>',
  component: <%= classify(name) %>Component
};

export const Default<%= classify(name) %> = Template.bind({});

<%= classify(name) %>.args = {};