import {<%= classify(name) %>Component} from './<%= dasherize(name) %>.component';
import { Story } from '@storybook/angular';

const Template: Story<<%= classify(name) %>Component> = (args) => ({
  props: args
});

export default {
  title: 'Components/<%= classify(name) %>',
  component: <%= classify(name) %>Component
};

export const Default<%= classify(name) %> = Template.bind({});

Default<%= classify(name) %>.args = {};